<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>zgt-java</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.yeepay.zgt.servlet.RegisterApiServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModifyRequestServlet</servlet-name>
    <servlet-class>com.yeepay.zgt.servlet.ModifyRequestApiServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QueryModifyRequestServlet</servlet-name>
    <servlet-class>com.yeepay.zgt.servlet.QueryModifyRequestApiServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PayServlet</servlet-name>
    <servlet-class>com.yeepay.zgt.servlet.PayApiServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SendSmsServlet</servlet-name>
    <servlet-class>com.yeepay.zgt.servlet.SendSmsApiServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ConfirmSmsServlet</servlet-name>
    <servlet-class>com.yeepay.zgt.servlet.ConfirmSmsApiServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QueryOrderServlet</servlet-name>
    <servlet-class>com.yeepay.zgt.servlet.QueryOrderApiServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TransferServlet</servlet-name>
    <servlet-class>com.yeepay.zgt.servlet.TransferApiServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TransferQueryServlet</servlet-name>
    <servlet-class>com.yeepay.zgt.servlet.TransferQueryApiServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DivideServlet</servlet-name>
    <servlet-class>com.yeepay.zgt.servlet.DivideApiServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QueryDivideServlet</servlet-name>
    <servlet-class>com.yeepay.zgt.servlet.QueryDivideApiServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RefundServlet</servlet-name>
    <servlet-class>com.yeepay.zgt.servlet.RefundApiServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QueryRefundServlet</servlet-name>
    <servlet-class>com.yeepay.zgt.servlet.QueryRefundApiServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SettleConfirmServlet</servlet-name>
    <servlet-class>com.yeepay.zgt.servlet.SettleConfirmApiServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QueryBalanceServlet</servlet-name>
    <servlet-class>com.yeepay.zgt.servlet.QueryBalanceApiServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CashTransferServlet</servlet-name>
    <servlet-class>com.yeepay.zgt.servlet.CashTransferApiServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QueryCashTransferServlet</servlet-name>
    <servlet-class>com.yeepay.zgt.servlet.QueryCashTransferApiServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QuerySettlementServlet</servlet-name>
    <servlet-class>com.yeepay.zgt.servlet.QuerySettlementApiServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QueryBindCardsServlet</servlet-name>
    <servlet-class>com.yeepay.zgt.servlet.QueryBindCardsApiServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UnbindCardServlet</servlet-name>
    <servlet-class>com.yeepay.zgt.servlet.UnbindCardApiServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DownloadOrderDocumentServlet</servlet-name>
    <servlet-class>com.yeepay.zgt.servlet.DownloadOrderDocumentApiServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PayApiCallbackServlet</servlet-name>
    <servlet-class>com.yeepay.zgt.servlet.PayApiCallbackServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModifyRequestApiCallbackServlet</servlet-name>
    <servlet-class>com.yeepay.zgt.servlet.ModifyRequestApiCallbackServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CashTransferApiCallbackServlet</servlet-name>
    <servlet-class>com.yeepay.zgt.servlet.CashTransferApiCallbackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterApi.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModifyRequestServlet</servlet-name>
    <url-pattern>/ModifyRequestApi.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryModifyRequestServlet</servlet-name>
    <url-pattern>/QueryModifyRequestApi.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PayServlet</servlet-name>
    <url-pattern>/PayApi.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SendSmsServlet</servlet-name>
    <url-pattern>/SendSmsApi.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ConfirmSmsServlet</servlet-name>
    <url-pattern>/ConfirmSmsApi.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryOrderServlet</servlet-name>
    <url-pattern>/QueryOrderApi.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TransferServlet</servlet-name>
    <url-pattern>/TransferApi.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TransferQueryServlet</servlet-name>
    <url-pattern>/TransferQueryApi.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DivideServlet</servlet-name>
    <url-pattern>/DivideApi.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryDivideServlet</servlet-name>
    <url-pattern>/QueryDivideApi.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RefundServlet</servlet-name>
    <url-pattern>/RefundApi.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryRefundServlet</servlet-name>
    <url-pattern>/QueryRefundApi.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SettleConfirmServlet</servlet-name>
    <url-pattern>/SettleConfirmApi.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryBalanceServlet</servlet-name>
    <url-pattern>/QueryBalanceApi.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CashTransferServlet</servlet-name>
    <url-pattern>/CashTransferApi.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryCashTransferServlet</servlet-name>
    <url-pattern>/QueryCashTransferApi.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuerySettlementServlet</servlet-name>
    <url-pattern>/QuerySettlementApi.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryBindCardsServlet</servlet-name>
    <url-pattern>/QueryBindCardsApi.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UnbindCardServlet</servlet-name>
    <url-pattern>/UnbindCardApi.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownloadOrderDocumentServlet</servlet-name>
    <url-pattern>/DownloadOrderDocumentApi.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PayApiCallbackServlet</servlet-name>
    <url-pattern>/PayApiCallback.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModifyRequestApiCallbackServlet</servlet-name>
    <url-pattern>/ModifyRequestApiCallback.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CashTransferApiCallbackServlet</servlet-name>
    <url-pattern>/CashTransferApiCallback.do</url-pattern>
  </servlet-mapping>
</web-app>